* {
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
    box-sizing: border-box;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bear\ wallpaper\ 1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
    transform-origin: 0 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #b17261;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnFlashcard-popup {
    width: 130px;
    height: 50px;
    background: white;
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: #b17261;
    font-weight: 750;
    margin-left: 40px;
    transition: .5s;
}

.container {
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
    
}